body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
}
.top-title{
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15%;
  color: white;
}
.rotate-img{
  transform: rotate(30deg);
  width: 60%;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.btn{
  font-family:"Ubuntu";
}
.btn{
  font-family: "Ubuntu";
}
.navbar{
  padding-bottom: 10%;
  padding-left: 0;
}
.nav-item{
  padding-left: 18px;
  padding-right: 18px;
}
.nav-link{
  font-weight: 2rem;
  font-family: sans-serif;
}
#features{
  padding: 3% 15%;
  margin-top: 60px;
}
.col-lg-4{
  text-align: center;
  font-size: 1rem;

}
.feature-heading{
  font-size: 1.5rem;
}
.feature-para{
  font-family: "Ubuntu";
  color: #8f8f8f;
}
.fas{
  padding-bottom: 25px;
  color: #ef8172;
}
.fas:hover{
  color: #ff4c68;
}
#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
h2{
  line-height: 1.5;
  font-size: 2rem;

}
.testimonial-img{
  text-align: center;
  width: 20%;
  border-radius: 50%;
  margin: 20px;
}
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;

}
.carousel-item{
  padding:7% 15%;

}
.card-text{
  color: #808080;
  font-family: "Ubuntu";
}

#pricing{
  padding: 3% 15%;
  text-align:center;
}
.row{
  margin-top: 10%;
  margin-bottom: 10%;
}
.pricing-summary-text{
  font-family: "Ubuntu";
  font-weight: lighter;
}
@media (max-width: 1028px){
  #title{
    text-align: center;

  }
  .rotate-img{
    position: static;
    transform: rotate(0);
  }
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;

}
.cta-header{
  color: white;
  padding-bottom: 55px;
  margin-left: 30%;
  margin-right: 30%;

}
.btn{
  padding-left: 20px;
  padding-right: 20px;
}
#footer{
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Ubuntu";
  font-weight: lighter;

}
.social-icon{
  padding: 15px 15px 15px 15px;
  color: black;
}
.final-para{
  padding-top: 25px;
}
